body {
    background-color: rgb(197, 234, 247);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(13, 65, 88);
  }
  
  h1 {
    color: rgb(219, 226, 255);
    text-align: center;
    font-size: xx-large;
    margin: 40px ;
    background-color: #8d2141;
  }
  
  #paragraph1 {
    font-size: larger;
    margin: 40px;
    line-height: 25px;
  }

  #paragraph2 {
    font-size: larger;
    margin: 13px;
    font-weight: bold;
    color: #8d2141;
  }

  span {
    font-weight: bold;
    color: #8d2141;
  }

 footer {
     color: #8d2141;
     margin: 20px;
     font-size: large;
  }
  
  ul li{
    font-size: large;
    margin-left: 35px;
    line-height:30px;
  }
  ol {
    margin: 30px;
    background-color: #F6DFC7;
    line-height: 25px;
    margin-right: 65em;
  }
  ol li{
    font-size: large;
    margin-left: 20px;
  }